{% extends "default.html.twig" %}

{% block body %}
    <h1 class="text-3xl font-bold mt-5 text-center">
        Base of knowledge
    </h1>
    <p class="text-center">
        Find all the articles related to web development.
    </p>
    <div class="col-md-11 d-flex justify-content-end">
        <a href="/post/add">
            <button class="btn btn-primary">Create an article</button>
        </a>
    </div>
    <div class="d-flex flex-wrap justify-content-evenly mt-3 mb-5">
        {% for post in posts %}
            <div class="col-md-5 ">
                <article class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="font-bold">
                            {{ post.title }}
                        </h3>
                        {% if (post.updatedAt) %}
                        <div class="mb-1 text-muted">Updated {{ post.updated_fr }}</div>
                        {% else %}
                        <div class="mb-1 text-muted"> Added {{ post.created_fr}} </div>
                        {% endif %}
                        <p class="card-text mb-auto">{{ post.chapo }}</p>
                        <a href="/posts/read/{{ post.id }}" class="stretched-link">Read article</a>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}