{% extends 'adminDefault.html.twig' %}

{% block title %}Admin - Comments {% endblock %}

{% block body %}
    <table class="table table-striped mt-5">
        <thead class="text-center">
        <th>Post_id</th>
        <th>User_id</th>
        <th>Content</th>
        <th>Actions</th>

        </thead>
        <tbody>
        {% for comment in comments %}
            {% if comment.visibility == 0 %}
                <tr class="text-center">
                    <td>{{ comment.post_id }}</td>
                    <td>{{ comment.user_id }}</td>
                    <td>{{ comment.content }}</td>

                    <td class="d-flex">
                        <form action='/admin/validateComment/{{ comment.id}}' method="post">
                            <button type="submit" class="btn btn-success">Valid</button>
                        </form>

                        <form action="/admin/deleteComment/{{ comment.id}}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
{% endblock %}
