{% extends 'adminDefault.html.twig' %}

{% block title %}Admin - Comments {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                {% if posts is empty %}
                <p>There are no comments to display.</p>
                {% else %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Author</th>
                            <th scope="col">Content</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments %}
                            <tr>
                                <th scope="row">{{ comment.id }}</th>
                                <td>{{ comment.author }}</td>
                                <td>{{ comment.content }}</td>
                                <td>{{ comment.createdAt|date('d/m/Y') }}</td>
                                <td class="d-flex">
                                    <form action='/admin/validateComment/{{ comment.id}}' method="post" class="mx-2">
                                        <input type="hidden" name="_token" value="{{ session.get('user', 'csrfToken') }}">
                                        <button type="submit" class="btn btn-success">Validate</button>
                                    </form>

                                    <form action="/admin/deleteComment/{{ comment.id}}" method="post">
                                        <input type="hidden" name="_token" value="{{ session.get('user', 'csrfToken') }}">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}