{% extends 'adminDefault.html.twig' %}

{% block title %}Admin - Posts {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                {% if posts is empty %}
                    <p>There are no posts to display.</p>
                {% else %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <th scope="row">{{ post.id }}</th>
                            <td>{{ post.title }}</td>
                            <td>{{ post.author }}</td>
                            <td>{{ post.createdAt|date('d/m/Y') }}</td>
                            <td class="d-flex">
                                <a class="btn btn-warning mx-2" href="/admin/modify/{{ post.id }}">Edit</a>
                                <form action="/admin/deletePost/{{ post.id }}" method="post">
                                    <input type="hidden" name="_token" value="{{ session.get('user', 'csrfToken') }}">
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
